
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
}

/*@font-face {
  font-family: 'Gilroy';
  src: url('/Gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
}*/



/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the HTML and body take full screen */
html, body {
  width: 92%;
  margin: auto;
  font-family: 'Gilroy', sans-serif;
}

#root {
  width: 92%;
  margin: auto;
}


@media (max-width:460px) {
  html, body {
    width: 96%;
    
  }
  
  #root {
    width: 96%;
  }
  
}
